
<div class="row">
  <div class="col-xs-10 col-xs-offset-1">
    <div class="sol-xs-12">
        <h3>New Book</h3>
        <%= render 'form', book: @book %>
        <%= link_to 'Back', books_path, class: "btn btn-default btn_black" %>
    </div>
  </div>
</div>