body {
  background-color: #fff;
  color: #333;
  margin: 33px;
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

p, ol, ul, td {
  font-family: verdana, arial, helvetica, sans-serif;
  font-size: 13px;
  line-height: 18px;
}

pre {
  background-color: #eee;
  padding: 10px;
  font-size: 11px;
}

a {
  color: #000;

  &:visited {
    color: #666;
  }

  &:hover {
    color: #fff;
    background-color: #000;
  }
}

th {
  padding-bottom: 5px;
}

td {
  padding: 0 5px 7px;
}

div {
  &.field, &.actions {
    margin-bottom: 10px;
  }
}

#notice {
  color: green;
}

.field_with_errors {
  padding: 2px;
  background-color: red;
  display: table;
}

#error_explanation {
  width: 450px;
  border: 2px solid red;
  padding: 7px 7px 0;
  margin-bottom: 20px;
  background-color: #f0f0f0;

  h2 {
    text-align: left;
    font-weight: bold;
    padding: 5px 5px 5px 15px;
    font-size: 12px;
    margin: -7px -7px 0;
    background-color: #c00;
    color: #fff;
  }

  ul li {
    font-size: 12px;
    list-style: square;
  }
}

label {
  display: block;
}

ul{
  list-style-type: none;
  margin: 0;
  padding: 10px 0;
}

.each_book{
  height: 0px;
  margin: 15px 0;
  padding: 20px;
  border: 1px solid #ccc;
  border-radius: 10px;
}

.data{
  font-size: 15px;
  height: 100px;
  overflow: scroll;
}

.data li{
  padding: 3px 0;
}

.buttons li{
  padding: 5px 5px 5px 0;
  float: left;
}

.buttons::after{
  content: "";
  display: block;
  clear: both;
}

ul img{
  margin: 0 0 10px;
  padding: 0;
  border: 1px solid #000;
}

.detail img{
  margin: 0 0 10px;
  padding: 0;
  border: 1px solid #000;
}

.btn_green{
  color: #fff;
  background-color: #2999af;
}

a.btn_green{
  color: #fff;
}

a.btn_green:hover{
  color: #000;
}

a.btn_black{
  color: #fff;
  background-color: #000;
}

a.btn_black:hover{
  color: #000;
  background-color: #ccc;
}

body{
  margin: 0;
  padding: 0;
}

h1 {
  margin: 10px 0;
}

h3 {
  margin: 30px 0;
}

a {
 /* color: #2999af;*/
}

a:visited {
  /*color: #2999af;*/
}





















